<div class="row">
  <pre class="col-md-4 proto">
    var kelseyBrisson = {
        job: 'web developer',
        location: 'Boulder, CO',
        homeTown: 'Mammoth Lakes, CA',
        hobbies: [
            'video games',
            'horseback riding',
            'tabletop games',
            'skiing',
            'crafts'
        ],
        favorites: {
            game: 'Morrowind',
            show: 'Battlestar Galactica',
            food: 'BBQ'
        },
        cats: [ 'Helo', 'Athena' ]
    };

  </pre>
  <div class="col-md-offset-4 col-md-6">
    <h2>About me</h2>
    <p>
      I am Kelsey Brisson, and I am a web developer. I have spent the past two years working as a C# .NET developer for a high profile client. My experience working on a large site with custom CDNs has inspired me to start creating responsive stand-alone JavaScript plugins while minimizing file size. Besides starting to build light UI plugins, I have also been working on learning AngularJS and how to build sites with MEAN.JS. 
    </p>
  </div>
</div>
