<div class="row">
  <div class="col-md-offset-2 col-md-8">
	  <span class="contact-link">
	    <a href="https://github.com/klbrisson">
	    	GitHub
	      <!-- <img ng-src="/modules/core/client/img/logos/github/github-mark-light-64px.png"> -->
	    </a>
	  </span>
	  <span class="contact-link">
	    <a href="https://www.linkedin.com/in/kelsey-brisson-84838688">
	      LinkedIn
	      <!-- <img ng-src="/modules/core/client/img/logos/LinkedIn/white/in-white-41px-r.png"> -->
	    </a>
	  </span>
<!-- 	  <span class="contact-link">
	    <a href="#">
	      Resume
	    </a>
	  </span> -->
	  <span class="contact-link">
	    <a href="mailto:klbrisson@gmail.com">
	      klbrisson@gmail.com
	      <!-- <img ng-src="/modules/core/client/img/logos/email.png"> -->
	    </a>
	  </span>
  </div>
</div>
