<section class="full-screen welcome">
    <div class="container">
      <div ng-include="'/modules/core/client/views/welcome.client.view.html'"></div>
    </div>
</section>
<section class="about">
    <div class="container">
      <div ng-include="'/modules/core/client/views/about.client.view.html'"></div>
    </div>
</section>
<section class="tech">
    <div class="container">
      <div ng-include="'/modules/core/client/views/tech.client.view.html'"></div>
    </div>
</section>
<section class="contact">
    <div class="container">
      <div ng-include="'/modules/core/client/views/contact.client.view.html'"></div>
    </div>
</section>
