<div class="row">
  <div class="col-md-2">
    <h2>Docs</h2>
    <h2>GitHub</h2>
  </div>
  <div class="col-md-4">
    <h2>LightUI</h2>
    <p>This is a project in progress that I am working on. The goal is to create lightweight jQuery and native JavaScript plugins. The plugins are minimally styled to allow for maximum customizability. This allows any sites to quickly create various UI elements without requiring a large library.</p>
  </div>
  <div class="col-md-6">
    <h2>example</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
</div>