<div class="row">
	<div class="col-md-12 imap">
		<img src="/modules/core/client/img/map-placeholder.png">
	</div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Interactive Mapping</h2>
    <p>
      During my first two years working in web development, I created a library to easily create an interactive world map using D3.js. The map is responsive for use on mobile devices. Given a data set and a range of colors it will create a heat map or choropleth to represent the data. This library is now used on a site for a high profile client and is able to be used company wide for other clients.
    </p>
  </div>
</div>