<div class="row">
  <div>
<!--       <pre class="col-md-4 proto">
      var kelsey = function() { };

      kelsey.prototype.config = {
          job: 'web developer',
          hardWorker: true,
          hobbies: [
              'video games',
              'horseback riding',
              'tabletop games',
              'skiing',
              'crafts'
          ],
          favorite: {
              game: 'Morrowind',
              show: 'Battlestar Galactica',
              food: 'BBQ'
          },
          cats: [
              'Helo',
              'Athena'
          ]
      };

    </pre> -->
    <div>
      <h1><span>Hello</span>I'm Kelsey</h1>
        <p>
           a full-stack web developer
        </p>
    </div>
    <div>
      <span class="contact-link">
        <a href="https://github.com/klbrisson">
          <span class="logo github"></span>
          <!-- <img ng-src="/modules/core/client/img/logos/github/github-mark-light-64px.png"> -->
          <span class="label">GitHub</span>
        </a>
      </span>
      <span class="contact-link">
        <a href="https://www.linkedin.com/in/kelsey-brisson-84838688">
          <span class="logo linkedin"></span>

          <!-- <img ng-src="/modules/core/client/img/logos/linked-in.png"> -->
          <span class="label">LinkedIn</span>
        </a>
      </span>
       <span class="contact-link">
        <a href="mailto:klbrisson@gmail.com">
          <span class="logo email"></span>

          <!-- <img ng-src="/modules/core/client/img/logos/email.png"> -->
          <span class="label">Email</span>
        </a>
      </span>
    </div>
  </div>
</div>

