    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Kelsey Brisson</h1>
          <p>
             Web Developer
          </p>
          <span class="contact-link">
            <a href="https://github.com/klbrisson">
              <img ng-src="/modules/core/client/img/logos/github/github-mark-light-64px.png">
            </a>
          </span>
          <span class="contact-link">
            <a href="https://www.linkedin.com/in/kelsey-brisson-84838688">
              <img ng-src="/modules/core/client/img/logos/LinkedIn/white/in-white-41px-r.png">
            </a>
          </span>
          <div>klbrisson@gmail.com</div>
      </div>
    </div>

