
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.well__item {
  height: 48px;
  margin: 10px;
  display: inline-block;
}

.well__item--text {
  height: 48px;
  line-height: 48px;

}

img{
  height: 48px;
}

.imap img {
  height: auto;
  width: 100%;
}

.contact-link {
  cursor: pointer;
}

.jumbotron {
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar {
  z-index: 0;
}

.undecorated-link:hover {
  text-decoration: none;
}

